# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=reto_yape

# Kafka
KAFKA_CLIENT_ID=card-issuer
KAFKA_BROKERS=localhost:9092
KAFKA_FROM_BEGINNING=false

# Ports
ISSUER_PORT=3000
PROCESSOR_PORT=3001

# Card Processor
MAX_RETRIES_PROCESS_CARD=3
